body{
    background-image: url(../images/bgOnBlog.png);
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background-color: transparent;
    height: 100px;
    width: 100%;
    font-weight: bold;
    padding-top: 20px;
}

.logo{
    position: relative;
    float: left;
    width: 200px;
    line-height: 50px;
    margin-left: 1%;
}

nav ul{
    float: right;
}

nav ul li{
    display: inline-block;
    line-height: 0px;
}

nav ul li a{
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
}

h1{
    font-weight: bold;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

button{
    background-color: transparent;
    cursor: pointer;
    border-radius: 23px;
    padding: 0px;
    width: 14vw;
    max-width: 215px;
    height: 50px;
    color:white;
    border: 2px solid white;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: background-color 0.4s;
    /*margin-right: 20px;*/
}

.buttons{
    position:relative;
    width:75%;
    height: 50px;
    float: left;
    padding-left: 8%;
}


.bgSquare{
    position: relative;
    text-align: center;
    width: 90vw;
    height: 300vh;
    background-color: white;
    margin-left: 4%;
    top: 100px;
    border-radius: 100px;   
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.grid{
    display:grid;
    grid-template-columns: 300px 300px 300px 300px; 
    grid-template-rows: 600px 600px 600px 600px;
    grid-gap: 5vw;
    margin-left: 6vw;
    margin-top: 10vh;
}

.element1 {
    border: 2px solid #000;
    color: #fff;
    height: 360px; 
    padding: 20px; 
    width: 310px; 
    margin-right: 3.8em;
    background-image: url(../images/mihalica.jpg);
}

.bottomtext{
    margin-top: 11em;
    color: black;
}

h3{
    color: black;
}

.element2 {
    border: 2px solid #000;
    color: #fff;
    height: 360px; 
    padding: 20px; 
    width: 310px; 
    margin-right: 3.8em;
    background-image: url(../images/dunavskam.jpg);
}

.element3 {
    border: 2px solid #000;
    color: #fff;
    height: 360px; 
    padding: 20px; 
    width: 310px; 
    margin-right: 3.8em;
    background-image: url(../images/balkanskapusturva.jpg);
    background-repeat: no-repeat;
    background-size: 360px 410px;
}

.element4 {
    border: 2px solid #000;
    color: #fff; 
    height: 360px; 
    padding: 20px; 
    width: 310px; 
    margin-right: 3.8em;
    background-image: url(../images/sharan.jpg);
    background-repeat: no-repeat;
    background-size: 460px 400px;
}

.element5 {
    border: 2px solid #000;
    color: #fff;
    height: 360px; 
    padding: 20px; 
    width: 310px; 
    margin-right: 3.8em;
    background-image: url(../images/bodlivka.jpg);
}

.element6 {
    border: 2px solid #000;
    color: #fff;
    height: 360px; 
    padding: 20px; 
    width: 310px; 
    margin-right: 3.8em;
    background-image: url(../images/vakita.jpg);
}

.element7 {
    border: 2px solid #000;
    color: #fff; 
    height: 360px; 
    padding: 20px; 
    width: 310px; 
    margin-right: 3.8em;
    background-image: url(../images/tulen.png);
    background-repeat: no-repeat;
    background-size: 460px 400px;
}

.element8 {
    border: 2px solid #000;
    color: #fff;
    height: 360px; 
    padding: 20px; 
    width: 310px; 
    margin-right: 3.8em;
    background-image: url(../images/vidra.jpg);
}

#current{
    background-color: #4C278E;
}


@media(max-width: 1785px){
    .grid{
        grid-template-columns: 300px 300px 300px; 
        grid-template-rows: 600px 600px 600px;
        grid-gap: 8vw;
        margin-left: 7vw;
    }
    .bgSquare{
        height:415vh;
    }
}
#keepOneRow{
    display: none;
}
@media(max-width: 1650px) {
    #keepOneRow{
        display: inline-block;
    }
    #normal{
        display: none;
    }
}
#smallerLogo{
    display: none;
    margin-left: 20px;
}
@media(max-width: 1450px){
    #smallerLogo{
        display:inline-block;
    }
    .logo{
        display: none;
    }
    .grid{
        display:grid;
        grid-template-columns: 300px 300px; 
        grid-template-rows: 400px 400px;
        grid-gap: 20%;
        margin-left: 10vw;
    }
    .bgSquare{
        height:520vh;
    }
}
@media(max-width:1180px){
    #smallerLogo{
        display:none;
    }
    .logo{
        display:inline-block;
        margin-left:0px;
        margin-left:35%;
        
    }
    nav ul{
        display:block;
        float: left;
        width:100%;
        margin-left:10%;
    }
    button{
        width: 16vw;
    }
}
@media(max-width:700px){
    nav ul li{
        display: block;
    }
    button{
        display: relative;
        margin-left: none;
        width: 80%;
        max-width:none;
        border-radius: 0px;
        margin-top: 10px;
    }
    .bgSquare{
        margin-top: 200px;
    }
    #keepOneRow{
        width:100%;
    }
    .grid{
        display:inline-block;
        grid-gap: 5%;
    }
    .bgSquare{
        height:1020vh;
    }
    .element2,.element3,.element4,.element5,.element6,.element7,.element8{
        margin-top: 300px;
    }
}

button:hover,#current:hover{
    background-color: white;
    color:black;
    transition: 0.7s;
}